<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un load balancer</title>
</head>
<body>
    <h1>Ajouter un load balancer</h1>

    <a href="/loadbalancers">Retour à la liste</a>

    <form method="post">
        <p>
            <label>Nom :</label><br>
            <input type="text" name="name" required>
        </p>

        <p>
            <label>IP Bind :</label><br>
            <input type="text" name="ip_bind" required>
        </p>

        <p>
            <label>Pass :</label><br>
            <input type="text" name="pass" required>
        </p>

        <button type="submit">Ajouter</button>
    </form>
</body>
</html>